<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/base :: layout(~{::title}, ~{::section})}"> <head>
    <title>Warenkorb</title>
</head>
<body>
<section class="container mt-4">
<div class="d-flex justify-content-between align-items-center">
    <h1>Warenkorb</h1>

    <p class="mb-0"><a th:href="@{/search}" class="btn btn-sm btn-outline-secondary">Zurück zur Suche</a></p>
</div>


<div th:if="${cartItems.isEmpty()}" class="alert alert-info" role="alert">
    <h4 class="alert-heading">Ihr Warenkorb ist leer.</h4>
    <p class="mb-0">Fügen Sie Bücher über die <a th:href="@{/search}" class="alert-link">Suche</a> hinzu.</p>
</div>

<div th:unless="${cartItems.isEmpty()}">
    <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="thead-dark">
        <tr>
            <th>Titel</th>
            <th>Autor</th>
            <th>ISBN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.title}">Buch Titel</td>
            <td th:text="${item.author}">Buch Autor</td>
            <td th:text="${item.isbn}">978-XXXXX</td>
        </tr>
        </tbody>
    </table>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <button class="btn btn-success btn-lg" type="button" disabled>Zur Kasse (TODO)</button>
    </div>
</div>
    </section>
</body>
</html>