<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/base :: layout(~{::title}, ~{::section})}">
<head>
    <title>Buchsuche</title>
</head>
<body>
<section class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Katalog-Suche</h1>
        <p class="mb-0">
            Aktuelle Artikel im Warenkorb:
            <a th:href="@{/cart}"><strong th:text="${cartCount}" class="text-primary">0</strong> Artikel anzeigen</a>
        </p>
    </div>
    <div class="card p-3 mb-4 shadow-sm">
        <form th:action="@{/search}" method="post" class="row g-3 align-items-center">
            <div class="col-md-8">
            <label for="query" class="visually-hidden">Suchbegriff:</label>
            <input type="text" id="query" name="query" th:value="${searchQuery}" placeholder="Titel, Autor, ISBN" class="form-control form-control-lg">
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-lg w-100">
                    <i class="fas fa-search me-2"></i>Suchen</button>
            </div>
        </form>
    </div>
<h2>Suchergebnisse</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="thead-dark">
            <tr>
                <th>Titel</th>
                <th>Autor</th>
                <th>ISBN</th>
                <th style="width:150px;">Aktion</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.isbn}"></td>
            <td>
                <form th:action="@{/add}" method="post">
                    <input type="hidden" name="isbn" th:value="${book.isbn}">
                    <input type="hidden" name="query" th:value="${searchQuery}">
                    <button type="submits" class="btn btn-success btn-sm w-100">Zum Warenkorb hinzufügen</button>
                </form>
            </td>
            <tr th:if="${#lists.isEmpty(books)}">
                <td colspan="4" class="text-center text-muted">Geben Sie einen Suchbegriff ein, um Resultate zu erhalten.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>